$nb-color: linear-gradient(0deg, rgba(0,0,0,1) 31%, rgba(15,61,62,1) 70%, rgba(41,84,102,1) 100%);
$text-color: rgb(226, 220, 200);
$texthover-color: rgb(241, 241, 241);
$btn-color: rgb(15, 61, 62);
$btnhover-color: rgb(58, 111, 90);
$card-color: rgb(83, 97, 97);